body{
    margin:0 auto;
    background-color: black;
}

.header{
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    width:100%;
}

.header__links{
    margin: 0 auto;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;  
}

.header__logo{
    margin: 0 auto;
    padding: 0;
    width: 5%;   
}

.header__links-list{
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    width:40%;
    justify-content: space-around;
}

.header__link{
    margin: 0 auto;
    padding: 0;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.header__social-media{
    margin: 0 auto;
    padding: 0;
    width: 10%;
    display:flex ;
    align-items: center;
    justify-content: space-around;
}

.header__social-logo{
    margin: 0 auto;
    padding: 0;
    width: 40px;
}

.header__social-facebook{
    margin: 0 auto;
    padding: 0;
    width: 15px;
}

.main__article{
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 30px 0;
    overflow:hidden ;
}

.main__article-text{
    margin: 0 auto;
    padding: 0;
    width: 30%;
}

.header__title-subtitle{
    margin: 0 auto;
    padding: 0;
    color: white;
    margin-bottom: 30px;
    font-size: 70px;
}

.button{
    margin: 0;
    padding: 0;
    padding: 10px 30px;
    color: white;
    background-color: black;
    border: 1px solid white;
}

.header__photo{
    margin: 0 auto;
    padding: 0;
    display: flex;
    width: 30%; 
 }

 .main{
    margin: 0 auto;
    padding: 0;
	width: 100%;
}

.main__text{
    margin: 0 auto;
    padding: 0;
    color: white;
    display: flex;
    justify-content: center;
    font-size: 40px; 
}

.main__works{
    margin: 0 auto;
    padding: 0;
	width: 100%;
	padding:50px 0;
	display: flex;
	align-items:center;
	flex-wrap: wrap;
	justify-content: center;
    background: yellow;   
}

.main__works-div{
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: green;
    overflow: hidden;	
}

.main__works-photo{
    margin: 0 auto;
    padding: 0;
    display: flex;
    height: 250px;
    width: 500px;
    object-fit: cover; 
 }

 .main__works-photo:hover{
    transform: scale(1.1);
 }

 .main__works-subtitle{
    margin: 0 auto;
    padding: 0;
    color: aliceblue;
    font-size: 25px;
    margin-top: 20px;
 }

 .main__works-subtitle-span{
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    color: var(--color-text-ghost);
    font-weight: 400;
    margin-left: 5px;
 }

 .main__works-link{
    color: var(--color-text-secondary);
    display: flex;
    font-weight: 500;
    margin: 0;
    outline: none;
    text-decoration: none;
    transition: color .3s ease;
}

.contact-me{
    margin: 0 auto;
    padding: 0;
    width: 100%; 
}

.contact-me__form{
    margin: 0 auto;
    padding: 0;
    max-width:750px;
    min-width:500px;
    padding-bottom: 50px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.contact-me__input{
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    padding: 20px 0;
    width: 50%;
}

.contact-me__button{
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
    color: black;
    padding: 15px 30px;
    border: 1px solid white; 
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-top:20px;
}